@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Poppins", sans-serif;
  }
  body {
    background-color: #fdfeff;
    overflow-x: hidden;
    box-sizing: border-box;
  }
}

@layer components {
}

.input-box {
  @apply w-full text-sm bg-transparent border-[1.5px] px-5 py-3 rounded mb-4 outline-none;
}

.btn-primary {
  @apply w-full text-sm text-white p-2 rounded my-2 hover:bg-blue-600;
}

.icon-btn {
  @apply text-xl text-slate-400 cursor-pointer;
}

.input-label {
  @apply text-sm font-medium;
}

.body-height {
  @apply h-auto;
  height: calc(100vh - 64px);
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.ql-toolbar {
  position: sticky;
  top: 0;
  z-index: 50;
  background-color: white;
}

/* Define dark mode styles for React Quill toolbar */
.react-quill-toolbar-dark .ql-toolbar {
  background-color: #2c2c2c;
  border-color: black;
  color: #fff;
}

.react-quill-toolbar-dark .ql-toolbar .ql-picker-label,
.react-quill-toolbar-dark .ql-toolbar .ql-picker-item {
  color: #fff;
}

.react-quill-toolbar-dark .ql-toolbar .ql-stroke {
  stroke: #fff;
}

.react-quill-toolbar-dark .ql-toolbar .ql-fill {
  fill: #fff;
}

.react-quill-toolbar-dark .ql-toolbar .ql-picker {
  color: #fff;
}

.react-quill-toolbar-dark .ql-toolbar .ql-picker-options {
  background-color: #444;
}

.react-quill-toolbar-dark .ql-toolbar .ql-picker-item.ql-selected {
  background-color: #555;
}
